* {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

 /* header styling */

.header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    color: white;
    background-color: #494949;
}

.header-container div {
    width: 50%;
    height: 80px;
    padding: 5px;
}

.header-container div img {
    width: 100%;
    max-width: 500px;
}

.header-container .portaltitle {
    display: block;
    color: white;
    position: relative;
    text-align: left;
    top: 0;
    left: 0;
}

.header-container .portaltitle img.resize {
    height: 50px;
    width: 100px;
}

.header-container .user {
    display: block;
    color: white;
    position: relative;
    text-align: right;
    top: 0;
    left: 0;
}

.header-container a {
    color: white;
}

.header-container a:hover{
    color: red;
    transition: 0.5s;
}

#username {
    color: #4CAF50;
    font-style: italic;
}

#client-user-info {
    font-size: 80%;
}

/* The side navigation menu */
.container-fluid {
    position: absolute;
    background-color: white;
    height: 100%;
}

.col-sm-2 {
    position: relative;
    padding: 0;
    background-color: white;
    height: 100%;
}
/* Sidebar links */
.sidebar-nav {
    list-style: none;
    padding-left: 0px;
    background-color: white;
    height: 100%;
}

.sidebar-nav a {
    color: #4CAF50;
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding-left: 5px;
    transition: 0.5s;
    font-weight: bold;
}

.sidebar-nav a:hover {
    color: white;
    background-color: #4CAF50;
    transition: 0.5s;
    padding-left: 10px;
    font-weight: normal;
}

.active {
  background-color: #4CAF50;
}

#nologin {
    color: red;
    font-weight: bold;
}


