* {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

 /* header styling */

.header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    color: white;
    background-color: #494949;
}

.header-container div {
    width: 50%;
    height: 80px;
    padding: 5px;
}

.header-container div img {
    width: 100%;
    max-width: 500px;
}

.header-container .portaltitle {
    display: block;
    color: white;
    position: relative;
    text-align: left;
    top: 0;
    left: 0;
}

.header-container .portaltitle img.resize {
    height: 50px;
    width: 100px;
}

.header-container .user {
    display: block;
    color: white;
    position: relative;
    text-align: right;
    top: 0;
    left: 0;
}

.header-container a {
    color: white;
}

.header-container a:hover{
    color: red;
    transition: 0.5s;
}

#username {
    color: #4CAF50;
    font-style: italic;
}

#client-user-info {
    font-size: 80%;
}

/* The side navigation menu */
.container-fluid {
    position: absolute;
    background-color: white;
    height: 100%;
}

.col-sm-2 {
    position: relative;
    padding: 0;
    background-color: white;
    height: 100%;
}
/* Sidebar links */
.sidebar-nav {
    list-style: none;
    padding-left: 0px;
    background-color: white;
    height: 100%;
}

.sidebar-nav a {
    color: #4CAF50;
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding-left: 5px;
    transition: 0.5s;
    font-weight: bold;
}

.sidebar-nav a:hover {
    color: white;
    background-color: #4CAF50;
    transition: 0.5s;
    padding-left: 10px;
    font-weight: normal;
}

.active {
  background-color: #4CAF50;
}

#nologin {
    color: red;
    font-weight: bold;
}

.data-table {
  border-collapse: collapse; /* Collapse borders */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
}

.data-table th, .data-table td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
}

.data-table tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

.data-table tr.header, .data-table tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}


#findInput {
   /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#findTable {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
}

#findTable th, #findTable td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
}

#findTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#findTable tr.header, #findTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}

 /* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 95%;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.3s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}


.info-table th {
    padding-right: 4px;
}

ul.messages {
    list-style-type:none;
    background-color:#4CAF50;
    font-weight: bold;
    color: white;
    padding: 4px;
}

.button {
    background-color: #494949;
    border: none;
    padding: 3px;
    font-weight: bold;
    color: white;
}


.button:hover {
    background-color:#4CAF50;
    transition: 0.3s;
}


a.button {
    padding-top:6px;
    padding-bottom:6px;
}


a.button:hover {
    text-decoration: none;
    color: white;
}


.home-button {
    background-color: #4CAF50;
    border: none;
    padding: 3px;
    font-weight: bold;
    color: white;
    transition: 0.3s;
}


.home-button:hover {
    background-color:#494949;
    transition: 0.3s;
}


a.home-button {
    padding-top:6px;
    padding-bottom:6px;
}


a.home-button:hover {
    text-decoration: none;
    color: white;
}


@media only screen and (min-width:768px) {
    /* for desktop */
    #leaks {width:50%;float:right;}
    #info {width:50%;float:left;}
}


#map {
    border: 1px solid black;
    border-radius: 10px;
    height: 400px;
    width: 100%;
    max-width: 750px;
}
