<!DOCTYPE html>
<html lang="en">


<head>
  {% load static %}
  <title>SSEC Data Portal</title>
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"/>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- Add additional CSS in static file -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'style.css' %}">
  {% block headcontent %}{% endblock %}
</head>


<header>
    <div class="header-container" width="100%">
        <div class="portaltitle"><a href="{% url 'index' %}"><img src="{% static 'pipelines/images/HeaderLogo.png' %}"
                                                                 alt="Methane Survey Data Portal"></a></div>
        <div class="user">
            {% if user.is_authenticated %}
            <span style="font-size:80%">Hello: </span><span id="username">{{ user.username }}</span> | <a href="{% url 'logout' %}">logout</a> |
            <a href="{% url 'change_pw' %}">Change Password</a>
            {% else %}
            Please login or sign up:
            <a href="{% url 'login' %}">login</a> |
            <a href="{% url 'signup' %}">signup</a>
            {% endif %}
            {% if user.is_authenticated %}
            <p><span id="client-user-info">{{ user.client_id_fk }}<br>ID: 100{{user.client_id_fk.client_id}}</span>
                {% else %}
            <p><span id="nologin">Login to see your data.</span></p>
                {% endif %}</p>
        </div>
    </div>
    <div class="topnav" id="baseTopnav">
        <a href="{% url 'report_list' %}" id="list">Report List</a>
        <a href="{% url 'create_report' %}" id="create">Create Report</a>
        <a href="{% url 'infrastructure_list' %}" id="edit">Edit Sites</a>
        <a href="javascript:void(0);" class="icon" onclick="reactiveTopnav()"></a>
            <i class="fa fa-bars"></i>
    </div>
</header>


<body>
  <div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 ">{% block content %}{% endblock %}</div>
    </div>
  </div>
  <script src="{% static 'js.js' %}"></script>
</body>


<footer class="footer">
    <div class="footercontent">
        <a href="https://www.silverspringenergy.com"><b>&copy 2019 Silver Spring Energy Consulting Ltd.</b></a><br>
        For support contact us directly at: 587.576.6736 | <a href="mailto:info@silverspringenergy.com">info@silverspringenergy.com</a>
        <br><a href="{% url 'terms' %}">Terms and Conditions</a> | <a href="{% url 'privacy' %}">Privacy Policy</a>
    </div>
        <script>
        /* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
        function reactiveTopnav() {
          var x = document.getElementById("baseTopnav");
          if (x.className === "topnav") {
            x.className += " responsive";
          } else {
            x.className = "topnav";
          }
        }
    </script>
    <script>
        $(document).ready(function(){
        {% block jquery %}{% endblock %}
        })
    </script>
    {% block footercontent %}{% endblock %}
</footer>
</html>






