<html>
<head>
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
    <!-- Leaflet JS. Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
            integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
            crossorigin=""></script>
    <script src="https://code.jquery.com/jquery-2.1.3.js"></script>

    <title>Methane Survey - {{ name }}</title>
    <style>
        body {height: 94%; background-color: #494949}
        #map {height: 100%;}

    </style>
</head>

<body>
<div id="map"></div>
<style>
          #map {
              border-style: double;
              border-width: 7;
              border-radius: 10px;
              height: 180px;
          }

</style>
<script>
  var gas = [{
    "type": "FeatureCollection",
    "name": "GasSample",
    "crs": { "type": "name", "properties": { "name": "urn:ogc:def:crs:OGC:1.3:CRS84" } },
    "features": [
    {% for point in points %}
        { "type": "Feature", "properties": {"GasReading": {{point.0}}}, "geometry": { "type" : "MultiPoint", "coordinates": [ [  {{point.1}}, {{point.2}} ] ] } },
    {% endfor %}
    ]
    }];

  var pipe = [{
    "type": "FeatureCollection",
    "name": "{{ name }}",
    "crs": { "type": "name", "properties": { "name": "urn:ogc:def:crs:OGC:1.3:CRS84" } },
    "features": [
    {"type": "Feature", "geometry": { "type": "MultiLineString", "coordinates": [ {{ linecoords }} ]
    }}]
  }];

  var site = []

  function displaymap (gas, pipe) {

    var map = L.map('map').setView([53, -115], 6);

    // Add mapbox basemaps as a group so they can be properly added to the layer control
    var mapbox = ({

        'Streets': L.tileLayer('https://api.tiles.mapbox.com/v4/mapbox.streets/{z}/{x}/{y}.png?access_token=pk.eyJ1Ijoia3B1YmJlbiIsImEiOiJjanV1NnZudngwZnR6M3lwaGxzemd6MjE3In0.9bfM9SkEGnTZJN11T3FoOw'
                            ).addTo(map)
        });

    // Add each data variable to a geojson layer
    var gaslayer = L.geoJson(gas, {
        onEachFeature: function(feature, gaslayer) {
            if (feature.properties && feature.properties.GasReading && feature.geometry.coordinates) {
                gaslayer.bindPopup('<h3>Gas (PPMM): '+feature.properties.GasReading+'</h3>' + 'Location (Long, Lat): ' + feature.geometry.coordinates, {closeButton: true})
                gaslayer.on('mouseover', function() {
                    gaslayer.openPopup();
                })
            }
        },

        pointToLayer:
    }).addTo(map);

    var pipestyle = {
        "color": "#228B22",
        "weight": "5",
        "opacity": "1"
    }

    // Use a try/except to add optional layers
    var pipelayer = L.geoJson(pipe, {style: pipestyle}).addTo(map);

    var sitelayer = L.geoJson(site).addTo(map);


    // Group layers under 'survey'
    var survey = {
        "Gas Survey": gaslayer,
        "Pipeline": pipelayer,
        "Site": sitelayer
    };

    // Add Layer control, scale, and center map on gas survey
    map.fitBounds(gaslayer.getBounds());
    L.control.layers(null, survey,{collapsed:false}).addTo(map);
    L.control.scale().addTo(map);
}
displaymap (gas, pipe)


</script>
{% load static %}
<!--run the leaflet script by pushing variables through data parameters-->
<!-- <script src="{% static 'gasmap.js' %}" type="text/javascript" workspace={{ company_slug }} pipeline={{ pipe_comp }}
        date={{ date_slug }}></script>-->

</body>
</html>