<!--
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}SSEC Ltd. Data Portal{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href='{% static "pipelines/icons/favicon.ico" %}'>
    <link rel="stylesheet" href='{% static "pipelines/style.css" %}'>
</head>

<header>
    <div class="header-container">
        <div class="portaltitle"><img src="{% static 'pipelines/images/HeaderLogo.png' %}"
                                      alt="Methane Survey Data Portal"></div>
        <div class="user">
            {% if user.is_authenticated %}
            {% if request.user.is_superuser %}
            Hello: <b>{{ user.username }} - Super User Privileges</b> | <a href="{% url 'logout' %}">logout</a>
            {% else %}
            Hello: <b>{{ user.username }}</b> | <a href="{% url 'logout' %}">logout</a>
            {% endif %}
            {% else %}
            Please login or sign up:
            <a href="{% url 'login' %}">login</a> |
            <a href="{% url 'signup' %}">signup</a>
            {% endif %}
            {% if user.is_authenticated %}
            <p>{{ user.client_id_fk }}
                {% else %}
                <span id="nologin">Login to see your data.</span>
                {% endif %}
        </div>

    </div>
    </div>
</header>

<body>

<main>

    {% block content %}
    {% endblock %}

</main>
</body>
</html>
-->