{% extends 'base.html' %}
{% load static %}
{% block headcontent %}

{% endblock %}
{% block content %}
<div class="clientinfo">
    <h3>Site Information</h3>
    {% if user.is_authenticated %}

    <input type="text" id="findInput" onkeyup="myFunction()" placeholder="Search for names..">
    <table id="findTable">

        <tr class="header">
            {% if user.is_superuser %}
            <th>Client</th>
            <th>Site Name</th>
            <th>Actions</th>

            {% endif %}
        </tr>
        {% for inf in inf_list %}
        <tr>
            {% if user.is_superuser %}
            <td>{{ inf.client_id_fk}}</td>
            <td>{{ inf.inf_name }}</td>
            <td><a href="{% url 'tileupload' inf.inf_id %}" class="button">Upload Site Imagery</a></td>

            {% endif %}

        </tr>
        {% empty %}
        <tr>
            <td>-</td>
            <td>-</td>
        </tr>
        {% endfor %}

    </table>
    {% else %}
    Login to see your data.
    {% endif %}

</div>

<script>
function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("findInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("findTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    tds = tr[i].getElementsByTagName("td")[1];
    if (tds) {
      txtValue = tds.textContent || tds.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}


</script>
<script>
    var linkID = document.getElementById("edit");
    linkID.className += "active";
</script>
{% endblock %}