{% extends 'base.html' %}
{% load static %}
{% block headcontent %}

<!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
    <!-- Leaflet JS. Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
            integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
            crossorigin=""></script>
    <script src="https://code.jquery.com/jquery-2.1.3.js"></script>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<h2>Gas Survey Results  - Prepared for {{survey.client_id_fk}}</h2>
<hr>
<h4>Survey Date: {{survey.survey_date}}</h4>
<hr>
<table class="info-table">
    <tr>
        <th>Location: </th>
        <td>{{ name }} </td>
    </tr>
    <tr>
        <th>Location Type: </th>
        <td>{{survey.get_geometry_type_display}}</td>
    </tr>
    <tr>
        <th>Wind Direction: </th>
        <td>{{survey.wind_direction}}</td>
    </tr>
    <tr>
        <th>Temperature: </th>
        <td>{{survey.temperature}}</td>
    </tr>
    <tr>
        <th>Flight Duration: </th>
        <td>{{survey.flight_duration}}</td>
    </tr>

</table>

<p><b>&nbsp;Comments:</b></p>
<p>{{survey.survey_comment}}</p>
<hr>

<h3>Map of Findings</h3>
<div id="map"></div>
<hr>

<h3>Possible Leaks</h3>
<table class="data-table">
    <tr class="header">
        <th>Tag Number</th>
        <th>Gas Reading</th>
        <th>Photo</th>
        <th>Status</th>
       <th>Signoff Date</th>
        <th></th>
    </tr>
    {% for def in defs %}
    <tr>
        <td>{{def.deficiency_number}}</td>
        <td>{{def.deficiency_gas}}</td>
        <td><img id="{{def.deficiency_number}}" src="{{def.deficiency_photo.url}}" style="width:75px;"></td>
        <td>{% if not def.deficiency_repaired %}Ongoing{% else %}Repaired by: <br>{{def.deficiency_signoff}}{% endif %}</td>
        <td>{{def.deficiency_signoff_date}}</td>
        {% if not def.deficiency_repaired %}
        <td><a href="{% url 'mark_repaired' def.surveydate_id_fk.id def.id %}" class="button">Mark Repaired</a></td>
        {% else %}
        <td><a href="{% url 'undo_repaired' def.surveydate_id_fk.id def.id %}" class="red-button">Undo Repaired</a></td>
        {% endif %}

        <!-- The Modal -->
        <div id="myModal{{def.deficiency_number}}" class="modal">

            <!-- The Close Button -->
            <span class="close{{def.deficiency_number}}"
                  style="position:absolute;top:15px;right:35px;color:#f1f1f1;font-size:40px;font-weight:bold;transition:0.3s;">&times;</span>

            <!-- Modal Content (The Image) -->
            <img class="modal-content" id="img0{{def.deficiency_number}}">

        </div>
        <script>
    // Get the modal
    var modal = document.getElementById("myModal{{def.deficiency_number}}");

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById("{{def.deficiency_number}}");
    var mapDiv = document.getElementById("map");
    var modalImg = document.getElementById("img0{{def.deficiency_number}}");
    // var captionText = document.getElementById("caption");
    img.onclick = function(){
      modal.style.display = "block";
      modalImg.src = this.src;
      // hide the map
      mapDiv.style.display = 'none';
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close{{def.deficiency_number}}")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
      mapDiv.style.display = "block";
    }
        </script>
    </tr>
    <tr>
        <td colspan="3">{{def.deficiency_desc}}</td>
    </tr>
    {% endfor %}
</table>



<script>

{% block jquery %}
    var endpoint = "/pipelines/gaspointAPI/"
    $.ajax({
        method: "GET",
        url: endpoint,
        dataType: 'json',
        success: function(data) {


            // Bring in JSON data
            var gasdata = [{
                "type": "FeatureCollection",
                "name": "{{ name }}",
                "crs": { "type": "name", "properties": { "name": "urn:ogc:def:crs:OGC:1.3:CRS84" } },
                "features": [
                    {"type": "Feature", "geometry": { "type": "MultiPoint", "coordinates": data
                }}]
            }];

            var contourdata = [{{ survey.survey_contour_geom | safe }}];

            var sitetype = '{{ survey.geometry_type | safe }}';

            if (sitetype == "PIPELINE") {
                var site_geo = '{{ linecoords | safe }}';
            } else {
                var site_geo = '{{ infcoords | safe }}';
            };
            console.log(site_geo);


            // Initialize map container
            var gasmap = L.map('map', {maxZoom: 20}).setView([53, -115], 6);


            // Create functions for styling gas points and contours
            var i = 0

            function PointColor (gasvalue) {
                if (gasvalue > 1000) {
                    i ++;
                    return '#800026';
                } else if (gasvalue > 750) {
                    i ++;
                    return '#BD0026';
                } else if (gasvalue > 500) {
                    i ++;
                    return '#E31A1C';
                } else if (gasvalue > 250) {
                    i ++;
                    return '#FC4E2A';
                } else if  (gasvalue > 125) {
                    i ++;
                    return '#FD8D3C';
                } else if (gasvalue > 75) {
                    i ++;
                    return '#FEB24C';
                } else if ( gasvalue > 10) {
                    i ++;
                    return '#FED976';
                } else {i ++; return '#FFEDA0';}
            }

            function gasstyle (feature) {
                return {
                    // color: PointColor(feature.geometry.coordinates[i]),
                    fillColor: PointColor(feature.geometry.coordinates[i][2]),
                    weight: "0",
                    radius: "5",
                    fillOpacity: "1"
                }
            }

            function contour_style (feature) {
                return {
                color: PointColor(feature.properties.GAS),
                weight: 2
                }
            }


            // Add data layers to map
            var gaslayer = L.geoJson(gasdata, {
                pointToLayer: function (feature, latlng) {
                    return L.circleMarker(latlng, gasstyle(feature))
                    }
            });

            var contourlayer = L.geoJson(contourdata, {style: contour_style}).addTo(gasmap);

            /*
            function PickSite (sitetype) {
                if sitetype == 'SITE'
                return L.
            }*/

            try {
                gasmap.fitBounds(gaslayer.getBounds());
            }
            catch {
                // gasmap.fitBounds(sitelayer.getBounds());
            }


            // Add mapbox basemaps as a group so they can be properly added to the layer control
            var mapbox = ({
                'Streets': L.tileLayer('https://api.tiles.mapbox.com/v4/mapbox.streets/{z}/{x}/{y}.png?access_token=pk.eyJ1Ijoia3B1YmJlbiIsImEiOiJjanV1NnZudngwZnR6M3lwaGxzemd6MjE3In0.9bfM9SkEGnTZJN11T3FoOw'
                                    ).addTo(gasmap)
                });


            // Add site imagery
            imagery = L.tileLayer('http://127.0.0.1:8000/pipelines/{{ inf_image }}/{z}/{x}/{y}.png', {tms: true, maxZoom: 20}).addTo(gasmap)


            L.control.scale().addTo(gasmap);

            // Add legend for gas color ramp
            var legend = L.control({position: 'bottomright'});

                legend.onAdd = function (gasmap) {

                    var div = L.DomUtil.create('div', 'info legend'),
                        grades = [0, 10, 75, 125, 250, 500, 750, 1000],
                        labels = [];

                    // loop through our density intervals and generate a label with a colored square for each interval
                    div.innerHTML += '<p>Methane (PPMM)</p>'
                    for (var k = 0; k < grades.length; k++) {
                        div.innerHTML +=
                            '<i style="background:' + PointColor(grades[k] + 1) + '"></i> ' +
                            grades[k] + (grades[k + 1] ? '&ndash;' + grades[k + 1] + '<br>' : '+');
                    }

                    return div;
                };

                legend.addTo(gasmap);


                // Add layer control
                var maplayers = {
                    "Gas Survey": gaslayer,
                    "Gas Trends": contourlayer,
                    "Site Imagery": imagery
                }

                group = L.control.layers(null, maplayers, {collapsed: false}).addTo(gasmap)

            // change leaflet attribution to custom
            document.getElementsByClassName('leaflet-control-attribution')[0].innerHTML = 'Powered by Leaflet<br>&copy; Silver Spring Energy Consulting Ltd.';
            document.getElementsByClassName('leaflet-control-attribution')[0].style.textAlign = 'right';
            }
    })
{% endblock %}
</script>
{% else %}
<p>You must be <a href="#">logged in</a> to see this data</p>
{% endif %}
{% endblock %}