{% extends 'base.html' %}
{% load static %}
{% block headcontent %}
<script type="text/javascript">
        function show_pipeline_info(pipe_name) {
            alert(pipe_name);
        }

</script>
<script src="{% static 'sorttable.js' %}" type="text/javascript"></script>
<link rel="stylesheet" href="{% static 'sortable-theme-finder.css' %}"/>

{% endblock %}
{% block content %}
<div class="clientinfo">
    <h1>Pipeline reports</h1>
    {% if user.is_authenticated %}
    <p>Click on a column heading to sort by that column.</p>
    <table class="sortable" id="sortable-theme-finder" data-sortable>
        <caption>Reports are listed by pipeline and date the survey was completed.</caption>
        <tr>
            <th>Pipeline Name</th>
            <th>Survey Date</th>
            <th>PDF</th>
            <th>Web Map</th>
        </tr>
        {% for report in report_list %}
        <tr>
            <td>{{ report.pipe_id_fk }}</td>
            <td>{{ report.survey_date }}</td>
            <!--Pull the url for the pdf report-->
            <td><a href="{% get_static_prefix %}reports/{{ report }}.pdf" target="_blank">{{ report }}</a></td>
            <!--Use URL parameters to push variables into javascript-->
            <td><a href="{% url 'map_view' %}?q={{ report }}" target="_blank"><img
                    src="{% static 'img/map_icon.png' %}"/></a></td>
        </tr>
        {% empty %}
        <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    Login to see your data.
    {% endif %}

</div>
{% endblock %}