{% extends 'base.html' %}
{% load static %}
{% block headcontent %}

{% endblock %}
{% block content %}
<div class="clientinfo">
    <h1>Site reports</h1>
    {% if user.is_authenticated %}
    <p>{% if request.user.is_superuser %}
        <a href="{% url 'create_report' %}" class="button">Create Report</a>
        {% endif %}
        <img src="{% static 'img/surv_fail.png' %}" style="width:20px;" title="Leaks Detected"> = Leaks Detected
        <img src="{% static 'img/surv_rep.png' %}" style="width:20px;" title="Leaks Detected"> = Leaks Repaired
        <img src="{% static 'img/surv_ok.png' %}" style="width:20px;" title="Leaks Detected"> = No Leaks
    </p>
    <input type="text" id="findInput" onkeyup="myFunction()" placeholder="Search for names..">
    <table id="findTable">
        <caption>Reports are listed by site name and date the survey was completed.</caption>
        <tr class="header">
            {% if user.is_superuser %}
            <th>Client</th>
            {% endif %}
            <th>Site Name</th>
            <th>Survey Date</th>
            <th>Results</th>
            <th></th>
            <th></th>
        </tr>
        {% for report in report_list %}
        <tr>
            {% if user.is_superuser %}
            <td>{{ report.company }}</td>
            {% endif %}
            <td>{{ report.name }}</td>
            <td>{{ report.date }}</td>
            <td>{% if report.leak == "leak" %}
                <img src="{% static 'img/surv_fail.png' %}" style="width:30px;" title="Leaks Detected">
                {% elif report.leak == "none" %}
                <img src="{% static 'img/surv_ok.png' %}" style="width:30px;" title="No Leaks">
                {% else %}<img src="{% static 'img/surv_rep.png' %}" style="width:30px;" title="Leaks Repaired">
                {% endif %}
            </td>
            <td>{% if report.complete %}Completed{% else %}Pending{% endif %}</td>
            <td><a href="{% url 'report_view' report.id %}">View </a>
                {% if user.is_superuser %}
                |<a href="{% url 'edit_report' report.id %}"> Edit</a>
                {% endif %}
            </td>

        </tr>
        {% empty %}
        <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    Login to see your data.
    {% endif %}

</div>

<script>
function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("findInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("findTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    tds = tr[i].getElementsByTagName("td")[0];
    if (tds) {
      txtValue = tds.textContent || tds.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}


</script>
{% endblock %}